.password-body{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    border: 1px solid silver;
    background: whitesmoke;
    padding: 12px 20px;
}