
.select-body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
}
.select-item{
    width: 60%;
    height: 100%;
    background: rgb(12, 11, 11);
}

.selected{
    width: 40%;
    height: 100%;
    background: #333;
}
.select-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 17px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
}
.select-card{
    width: 180px;
    height: 250px;
    background: #1a1919;
    padding: 6px 12px;
    color: white;
    font-family: sans-serif;
    border-radius: 12px;
}
.select-card p{
    font-size: 12px;
    color: #ffffff93;
}
.select-card:hover{
  transition: 0.3s ease-in;
  border: 1px solid yellow;
  cursor: pointer;
  transform: scale(1.07);
}

.select-text{
    font-family: sans-serif;
}

.select-image{
    width: 100%;
    height: 50%;
    background: rgba(24, 24, 37, 0.74);
}
.selected-img{
    width: 100%;
    height: 50%;
    background: blanchedalmond;
}
.select-card h3{
    font-size: 16px;
    font-weight: 600;
}
.select-text p{
    font-size: 12px;
    color: white;
}
.selected-text{
    padding: 12px 20px;
    font-family: sans-serif;
    font-family: 14px;
    color: yellow;
}
.selected-text h1{
    font-weight: 500;
}

.selected-img img{
    width: 100%;
    height: 100%;
}

.select-image img{
    width: 100%;
    height: 100%;
}

.selected-des{
    font-size: 13px;
}